.carousel-inner > .item > img {
  width:64px;
  height:36px;
}
.carousel {
  width:64px;
  height:36px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 10%;
}
.carousel-inner > .item {
   height: 40px;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
